{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div action="{% url 'school' %}" class="container">
    <div class="row">
        <div class="col">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {{ form|crispy }}
                <!-- <input type="hidden" name="next" value="{{ request.path }}"> -->
                <input id="full_path" name="full_path" type="hidden" value="{{ request.get_full_path }}">
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>

    </div>
</div>


{% endblock %}