{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>Please select your school.</h1>
    </div>

    <div class="row">

        <a href="{% url 'ipads_by_school' school_id='LES' %}" class="btn btn-outline-primary m-1">LES</a>
        <a href="{% url 'ipads_by_school' school_id='HAE' %}" class="btn btn-outline-primary m-1">HAE</a>
        <a href="{% url 'ipads_by_school' school_id='BES' %}" class="btn btn-outline-primary m-1">BES</a>
        <a href="{% url 'ipads_by_school' school_id='RCE' %}" class="btn btn-outline-primary m-1">RCE</a>

    </div>
    <div class="row">

        <!-- show all ipads or filter based on selection above, if not, show nothing -->


    </div>
</div>
{% endblock %}