{% extends 'base.html' %}

{% block content %}

<div class="container">
  <!-- Repair & Lost -->
  <div class="row mt-3">
    <div class="col">
      <h2><span class="badge badge-light">In Repair</span> <span class="badge badge-light">{{ count_in_repair }}</span>
      </h2>

      <table class="table table-hover table-striped">
        <thead></thead>
        <tbody>
          {% if school_ipads %} {% for ipad in school_ipads %} {% if ipad.status == 'In Repair' %}
          <tr>
            <td>
              {{ ipad.asset_number }}
            </td>
            <td>
              {{ ipad.teacher_name }}
            </td>
            <td>
              <a href="{% url 'repaired' ipad.asset_number %}" class="btn btn-primary">Repaired</a>
            </td>
          </tr>
          {% endif %} {% endfor %} {% endif %}
        </tbody>
      </table>
    </div>

    <div class="col">
      <h2><span class="badge badge-dark">Lost</span> <span class="badge badge-dark">{{ count_lost }}</span></h2>
      <table class="table table-hover table-striped">
        <thead></thead>
        <tbody>
          {% if school_ipads %}
          {% for ipad in school_ipads %}
          {% if ipad.status == 'Lost' %}
          <tr>
            <td>{{ ipad.asset_number }}</td>
            <td>{{ ipad.teacher_name }}</td>
            <td>
              <a href="{% url 'found' ipad.asset_number %}" class="btn btn-primary">Found</a>
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Working header, Filter -->

  <h2 class=""><span class="badge badge-success">Working</span> <span
      class="badge badge-success">{{ count_working }}</span></h2>

  <div class="row mb-3">
    <div class="col">
      <div class="filter">
        <h5><span class="badge">Filter By:</span></h5>
        <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">Teacher</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/{{ school_id }}">View All Ipads</a>

          {% for teacher in teachers %}
          {% if teacher.teacher_name != '' %}
          <a class="dropdown-item" href="/{{ school_id }}/{{ teacher.teacher_name }}">{{ teacher.teacher_name }}</a>
          {% endif %}
          {% endfor %}

        </div>
        <!-- unassigned button goes here -->
        <a href="{% url 'unassigned_ipads' school_id %}" class="btn btn-secondary btn-sm">Unassigned</a>
      </div>
    </div>
  </div>

  <!-- Working Ipads -->
  <div class="row">
    <div class="col">
      <table id="main_table" class="table table-hover table-striped">
        <thead class="thead-dark">
          <td>Asset Number</td>
          <td>Teacher</td>
          <td>Room #</td>
          <td>Label</td>
          <td>Details</td>
          <td>Change Status</td>
        </thead>
        <tbody>
          {% if school_ipads %} {% for ipad in school_ipads %} {% if ipad.status == 'Working' %}
          <tr>
            <td>{{ ipad.asset_number }}</td>
            <td>{{ ipad.teacher_name }}</td>
            <td>{{ ipad.room_number }}</td>
            <td>{{ ipad.label }}</td>
            <td>

              <button class="btn btn-info" data-toggle="modal"
                data-target="#edit_ipad_modal{{ ipad.asset_number }}">Edit</button>
            </td>

            <td>
              <a href="{% url 'in_repair' ipad.asset_number %}" class="btn btn-secondary">In Repair</a>
              <a href="{% url 'lost' ipad.asset_number %}" class="btn btn-danger">Lost</a>
            </td>
          </tr>


          {% endif %}

          <!-- Modal -->
          <div class="modal fade" id="edit_ipad_modal{{ ipad.asset_number }}" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'update_ipad' school_id ipad.asset_number %}" method="POST" class="post-form">
                    {% csrf_token %}


                    <div class="form-group">
                      <label for="asset_number" class="col-form-label">Asset Number:</label>
                      <input type="text" name="asset_number" class="form-control" value="{{ ipad.asset_number }}"
                        disabled>
                    </div>

                    <div class="form-group">
                      <label for="serial_number" class="col-form-label">Serial Number:</label>
                      <input type="text" name="serial_number" class="form-control" value="{{ ipad.serial_number }}">
                    </div>

                    <div class="form-group">
                      <label for="school_id" class="col-form-label">School Code:</label>
                      <input type="text" name="school_id" class="form-control" value="{{ ipad.school_id }}"
                        maxlength="3">
                    </div>

                    <div class="form-group">
                      <label for="teacher_name" class="col-form-label">Teacher Name:</label>
                      <input type="text" name="teacher_name" class="form-control" value="{{ ipad.teacher_name }}">
                    </div>

                    <div class="form-group">
                      <label for="room_number" class="col-form-label">Room Number:</label>
                      <input type="text" name="room_number" class="form-control" value="{{ ipad.room_number }}">
                    </div>

                    <div class="form-group">
                      <label for="custom_label" class="col-form-label">Custom Label:</label>
                      <input type="text" name="custom_label" class="form-control" value="{{ ipad.label }}">
                    </div>

                    <button class="btn btn-primary" type="submit">Update</button>
                  </form>

                </div>

              </div>
            </div>
          </div>

          {% endfor %}

          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#main_table').DataTable({
      paging: false

    });


  });
</script>

{% endblock %}