{% extends 'base.html' %}

{% block content %}
<h1>View iPads</h1>

<div class="container">
    <div class="row">
        <h1>Please select your school.</h1>
    </div>

    <div class="row">

        <a href="{% url 'ipads_by_school' LES %}" class="btn btn-outline-primary m-1" >LES</a>
        <a class='btn btn-outline-primary m-1' href='ipads.php?school=HAE'>HAE</a>
        <a class='btn btn-outline-primary m-1' href='ipads.php?school=BES'>BES</a>
        <a class='btn btn-outline-primary m-1' href='ipads.php?school=RCE'>RCE</a>

    </div>
    <div class="row">

        <!-- show all ipads or filter based on selection above, if not, show nothing -->
        

    </div>
</div>
{% endblock %}