{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Font Awesome -->
  <!-- <link rel="stylesheet" href="{% static 'css/all.css' %}"> -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  <!-- Custom -->
  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
  <!-- Lightbox -->
  <!-- <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}"> -->
  <!-- DataTable -->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" /> -->
  <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
  <!-- <link rel="stylesheet" href="{% static 'css/custom.css' %}"> -->

  <title>iMS - iPad Management System</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1">{{ school_id }} - iPad Management System</span>
  </nav>
  {% block content %} {% endblock %}

  <footer>
    <div class="mt-5">

    </div>
  </footer>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/datatables.min.js' %}"></script>
  <!-- <script src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script> -->


</body>

</html>